.formulario{
    width: 55vw;
    height: 55vh;
    margin: 0 auto;
    color: black;   
}
.formulario .linha{
    display: flex;
    flex-direction: row;
    background-color: black ;
    color: white;
}
.formulario .linha .rotulo-campo{
    width: 60%;
    height: 25px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
}
.formulario .btn{
    display: flex;
    align-items: center;
    justify-content: baseline;

}
.rotulo-campo .input{
    color: white;
    background-color:black;
}
















*{
    margin: 0;
    padding: 0;
}